* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-left: 2rem;
    padding: 0rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
}

nav {
    padding: 1rem;
    height: 150rem;
    margin-bottom: -3rem;
    background-image: url(IMG_9829.jpg);
}

.nav-con {
    display: flex;
    margin-top: 2rem;
}

.link {
    padding: 0px;
}

.logo p {
    font-size: 4rem;
    color: aliceblue;
    text-decoration: none;
    margin-top: -2rem;
    margin-left: 12rem;
    width: 100%;
    background-color: none;
}

.text {
    list-style: none;
    font-family: 'arial black';
	font-size: 60px;
	text-align: center;
	padding: 0;
	margin:0;
	transform: translateX(40%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
}

.menu li{
    margin: 0 1rem;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    background-color: darkkhaki;
    font-size: 20px;
}

.menu-btn{
    border-radius: 5px;
}

.pao-con {
    display: flex;
}

.pao {
    width: 100%;
    height: 600px;
}

.pao-info {
    width: 200%;
    padding: 1rem 0;
    color: aliceblue;
}

.pao-info img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 0rem;
    margin-bottom: 0rem;
}

.pao-info h3 {
    font-size: 3rem;
    margin-left: 26rem;
}

.pao-info p {
    margin: 2rem 0;
    font-size: 15px;
    margin-left: 20rem;
}

.pao-info .pao-btn {
    display: inline-block;
    background-color: darkkhaki;
    font-size: 20px;
    color:  rgb(26, 20, 37);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 45rem;
}


