* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-left: 2rem;
    padding: 0rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
}

nav {
    padding: 1rem;
    background-color: rgb(26, 20, 37);
    background-size: cover;
    background-position: center;
    height: 7.5rem;
    margin-bottom: -3rem;
}

.nav-con {
    display: flex;
    justify-content:left;
    margin-top: 2rem;
}

.link {
    padding: 0px;
}

.logo p {
    font-size: 4rem;
    color: aliceblue;
    text-decoration: none;
    margin-top: -2rem;
    margin-left: 12rem;
}

.text {
    list-style: none;
    font-family: 'arial black';
	font-size: 60px;
	text-align: center;
	padding: 0;
	margin:0;
	transform: translateX(40%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

.menu1 {
    list-style: none;
    & li { 
        margin: 1.1rem 0;
        & a {
            transition: 0.55s;
            font-size: 20px;
            text-decoration: none;
            display: inline-block;
            color: aliceblue;
            background-color: rgb(47, 62, 102);
            width: 250px;
            text-align: center;
            padding: 1rem;
            margin-left: 0rem;
            border-radius: 7px;
        }
    }
}

.pao-con {
    display: flex;
}

.pao {
    background-color: rgb(26, 20, 37);
    width: 100%;
    height: 600px;
}

.pao-info {
    width: 200%;
    padding: 1rem 0;
    color: aliceblue;
}

.pao-info img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 0rem;
    margin-bottom: 0rem;
}

.pao-info h3 {
    font-size: 3rem;
    margin-left: 26rem;
}

.pao-info p {
    margin: 2rem 0;
    font-size: 15px;
    margin-left: 20rem;
}

.pao-info .pao-btn {
    display: inline-block;
    background-color: darkkhaki;
    font-size: 20px;
    color:  rgb(26, 20, 37);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 45rem;
}


